/* Savvas Brand Colors */
/* Neutral Palatte */
$black: #000000;
$white: #FFFFFF;
$grayDark: #3D4149;
$gray: #6F777B;
$grayLight: #CDCFD1;
   
/* Cool Palatte */
$blue: #0072EE;
$blueDark: #2150A3;
$blueDenim: #196EAE;
$blueCyan: #026ECB;
$teal: #33BDCD;
$green: #9ECA47;

/* Warm Palatte */
$plum: #902364;
$red: #D73A59;
$orange: #F8961E;
$yellow: #FFE050;

/* Non-Brand Colors */
$gray-3f: #3F3F3F;
$gray-75: #757575;
$gray-a5: #A5A5A5;
$grayLighter: #CFCFCF;
$grayLightest: #F5F5F5;
$statusGreen: #019875;