/* Base Fonts **/
$font-text: avenir, sans-serif;
$font-icon: 'k12_universal_icons';
$font-family-cabin: 'Cabin';
$font-family-sans-serif: sans-serif;
$font-family-avenir: 'Avenir';
$font-cabin-semiBold: 'cabinsemibold';

/* Text Sizes */
$text-size-xxx-large: 1.875rem;    /* 1.875rem (30px) */
$text-size-xx-large: 1.5rem;       /* 1.5rem (24px) */
$text-size-x-large: 1.25rem;       /* 1.25rem (20px) */
$text-size-large: 1.125rem;        /* 1.125rem (18px) */
$text-size-normal: 1rem;           /* 1rem (16px) */
$text-size-small: 0.875rem;        /* 0.875rem (14px) */
$text-size-x-small: 0.75rem;       /* 0.75rem (12px) */

/* Icon Sizes */
$icon-size-xxx-large: 4.5rem;      /* 4.5rem (72px) */
$icon-size-xx-large: 3.125rem;     /* 3.125rem (50px) */
$icon-size-x-large: 2.25rem;       /* 2.25rem (36px) */
$icon-size-large: 1.875rem;        /* 1.875rem (30px) */
$icon-size-normal: 1.5rem;         /* 1.5rem (24px) */
$icon-size-small: 1.125rem;        /* 1.125rem (18px) */
$icon-size-x-small: 1rem;          /* 1rem (16px) */

/* Font Sizes */
$font-size-regular: 14px;
$font-size-x-regular: 15px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-m-large: 27px;
$font-size-x-large: 28px;

/* Font Weights */
$font-weight-normal: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-strong: 900;

